<div class="grid grid-cols-2 grid-rows-3 py-8">
    <div class="text-3xl font-bold row-span-2 flex items-center">
        <div class="w-3/4"><span class="bg-[#F95D62] text-white px-2">Découvrez</span> le monde universitaire sous un nouveau jour, un clic à la fois.</div>
    </div>
    <div class="bg-[url('/assets/bg.png')] row-span-4 h-[300px]"></div>
    <div class="col-span-2 border border-[#D7D7D7] drop-shadow  flex h-fit ">
        <div class="grow flex gap-1 items-center pl-4 bg-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#D7D7D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-school"><path d="M14 22v-4a2 2 0 1 0-4 0v4"/><path d="m18 10 4 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-8l4-2"/><path d="M18 5v17"/><path d="m4 6 8-4 8 4"/><path d="M6 5v17"/><circle cx="12" cy="9" r="2"/></svg>          
            <input placeholder="Nom de l'école" class="w-full h-max  py-4 bg-tr border-r-2 outline-none border-[#D7D7D7] focus:border-b-2 focus:border-r-0 focus:border-[#F95D62]" type="text"/>
        </div>
        <div class="grow flex gap-1 items-center pl-4 bg-white ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#D7D7D7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/><circle cx="12" cy="10" r="3"/></svg>            
            <input placeholder="Pays" class="w-full h-max  py-4 bg-tr border-r-2 outline-none border-[#D7D7D7] focus:border-b-2 focus:border-[#F95D62]" type="text"/>
        </div>
        <div class="row-start-2 grow flex justify-center items-center bg-[#F95D62] py-4 px-4 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
        </div>
    </div>
</div>